<div class="row" *ngIf="errorMessageAction$ | async as errorMessage">
  <div class="col-md-12">
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Notes Data</h3>
    <div class="row">
      <div class="col-md-4">
        <select class="form-select" (change)="onTaskChange($event)">
          <option value="">Select a Task</option>
          <option [value]="task.id" *ngFor="let task of tasks$ | async">
            {{ task.name }}
          </option>
        </select>
      </div>
      <!-- <div class="col-md-8 text-end">
        <a routerLink="/declarativenotes/add" class="btn btn-primary"
          >Add Goal</a
        >
      </div> -->
      <div class="col-md-8 text-end">
        <a routerLink="/declarativenotes/add" class="btn btn-primary"
          >Add Note</a
        >
      </div>
    </div>
    <table class="table" *ngIf="filteredNotes$ | async as notes">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Details</th>
          <th>Importance</th>
          <th>Task End Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes">
          <td>{{ note.id }}</td>
          <td>{{ note.name }}</td>
          <td>{{ note.details }}</td>
          <td>{{ note.importance }}</td>
          <td>{{ note.taskEndDate | date : "longDate" }}</td>
          <td>
            <a
              [routerLink]="['/declarativenotes/edit', note.id]"
              class="btn btn-info"
              >Update Note</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
